{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<a href="/community/create" class="btn btn-secondary">Создать сообщество</a>
{% endif %}
<h1>{{ title }}</h1>
{% for item in coms%}
<div class="row gap-2 p-3 my-2 border rounded">
    <h2><a class="text-body text-decoration-none" href="/community/id{{ item.id }}">{{item.name}}</a></h2>
    <div>
        {{item.description[:40] + '...'}}
    </div>
    <div>
        Создатель - <a class="text-decoration-none text-body" href="/profile/id{{ item.creator.id }}">{{item.creator.name}}</a>, Дата создания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.creator %}
    <div>
        <a href="/community/edit/id{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/community/delete/id{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}