{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<div class="fs-4">Создатель - <a class="text-decoration-none text-body" href="/profile/id{{ com.creator.id }}">{{com.creator.name}}</a></div>
<div class="fs-4">Дата создания - {{ com.created_date }}</div>
<div class="fs-3">Описание</div>
<div class="fs-5">{{ com.description }}</div>
{% if current_user == com.creator %}
<a href="{{ request.path }}/news/create" class="btn btn-secondary">Добавить новость</a>
{% else %}
{% if current_user.is_subscribe_to_community(com.id) %}
<a class="btn btn-primary" href="{{ url_for('subscribe_to_community') }}" role="button">Подписаться</a>
{% else %}
<a class="btn btn-primary disabled" href="{{ url_for('subscribe_to_community') }}" role="button" aria-disabled="true" tabindex="-1">Вы уже подписаны</a>
{% endif %}
{% for item in news%}
<div class="row gap-2 p-3 my-2 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}{{item.community.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user or current_user == item.community.creator %}
    <div>
        <a href="/news/edit/id{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news/delete/id{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}