{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
{% if news.is_published_by_community %}
Автор - <a class="text-decoration-none text-body" href="/community/id{{ news.community.id }}">{{news.community.name}}</a>, Дата написания - {{news.created_date}}
{% else %}
Автор - <a class="text-decoration-none text-body" href="/profile/id{{ news.user.id }}">{{news.user.name}}</a>, Дата написания - {{news.created_date}}
{% endif %}
<div class="fs-5">{{ news.content }}</div>
{% if current_user.is_authenticated and current_user == news.user or current_user == news.community.creator %}
<div>
    <a href="/news/edit/id{{ news.id }}" class="btn btn-warning">
        Изменить
    </a>
    <a href="/news/delete/id{{ news.id }}" class="btn btn-danger">
        Удалить
    </a>
</div>
{% endif %}
{% endblock %} 