{% extends "base.html" %}

{% block content %}

<h1>{{ title }}</h1>
<div>
    <div class="fs-3 fw-bold">{{ user.name }}</div>
    <div class="fs-4">(id={{ user.id }})</div>
</div>
<div class=""><img src="{{ url_for('user_avatar', id=user.id) }}"
                   class="rounded-circle img-thumbnail" style="object-fit: cover;
     		width:200px; height: 200px"></div>
<div class="fs-4">Зарегистрирован {{ user.created_date }}</div>
<div class="fs-5">{{ user.about }}</div>
{% if current_user.is_authenticated %}
{% if current_user == user %}
<a href="{{ url_for('edit_profile') }}" class="btn btn-warning" role="button">
    Редактировать профиль
</a>
{% else %}
{% if not subscribe_yet %}
<a href="{{ url_for('subscribe_to_user', id=user.id) }}" class="btn btn-warning" role="button">
    Подписаться на пользователя
</a>
{% else %}
<a href="{{ url_for('unsubscribe_to_user', id=user.id) }}" class="btn btn-warning" role="button">
    Отписаться от пользователя
</a>
{% endif %}
{% endif %}
{% endif %}

<center><div class="fs-2">Статьи {{ user.name }}</div></center>
{% if news %}
{% for item in news%}
<div class="row gap-2 p-3 my-2 border rounded">
    {% if item.picture %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{{ url_for('news_picture', id=item.id) }}" class="img-thumbnail"
                     style="object-fit: cover; width: 200px; height: 200px">
            </div>
            {% endif %}
            <div class="col">
                <div class="container">
                    <a href="{{ url_for('one_news', id=item.id) }}" class="text-body"><h2>{{item.title}}</h2></a>
                    <div>
                        {{ item.content[:40] }}
                    </div>
                    <div>
                        {% if item.is_published_by_community %}
                        Автор - <a class="text-decoration-none text-body"
                                   href="{{ url_for('community', id=item.community.id) }}">{{item.community.name}}</a>,
                        Дата написания - {{item.created_date}}
                        {% else %}
                        Автор - <a class="text-decoration-none text-body"
                                   href="{{ url_for('profile', id=item.user.id) }}">{{item.user.name}}</a>,
                        Дата
                        написания - {{item.created_date}}
                        {% endif %}
                    </div>
                    {% if current_user.is_authenticated and current_user == item.user or
                    item.community.creator ==
                    current_user %}
                    <div class="mt-5">
                        <a href="{{ url_for('edit_news', id=item.id) }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="{{ url_for('delete_news', id=item.id) }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="'fs-5 text-black-50">{{ user.name }} еще не написал ни одной статьи</div>
{% endif %}


<center><div class="fs-2">Сообщества {{ user.name }}</div></center>
{% if coms %}
{% for item in coms%}
<div class="row gap-2 p-3 my-2 border rounded">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{{ url_for('communities_avatar', id=item.id) }}"
                     class="img-thumbnail"
                     style="object-fit: cover; width: 200px; height: 200px">
            </div>
            <div class="col">
                <div class="container">
                    <h2><a class="text-body text-decoration-none py-3"
                           href="{{ url_for('community', id=item.id) }}">{{item.name}}</a>
                    </h2>
                    <div>
                        {{ item.description[:40] }}
                    </div>
                    <div class="py-3">
                        Создатель - <a class="text-decoration-none text-body py-3"
                                       href="{{ url_for('profile', id=item.creator.id) }}">{{item.creator.name}}</a>,
                        Дата создания - {{item.created_date}}
                    </div>
                    {% if current_user.is_authenticated and current_user == item.creator %}
                    <div class="pt-4">
                        <a href="{{ url_for('edit_community', id=item.id) }}"
                           class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="{{ url_for('delete_community', id=item.id) }}"
                           class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    <div class="'fs-5 text-black-50">{{ user.name }} не является админом ни одного сообщества
</div>
{% endif %}
{% endblock %}